<% include partials/header %>

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Check out</li>
            </ol>
        </div><!--/breadcrums-->

        <div class="review-payment">
            <h2>Review & Payment</h2>
        </div>

        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                <tr class="cart_menu">
                    <td class="image">Item</td>
                    <td class="description"></td>
                    <td class="price">Price</td>
                    <td class="quantity">Quantity</td>
                    <td class="total">Total</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <% for(var i = 0; i < cart.items.length; i++){ %>
                <tr>
                    <td class="cart_product">
                        <a href=""><img style="height:30px" src="<%= cart.items[i].imgUrl %>" alt=""></a>
                    </td>
                    <td class="cart_description">
                        <h4><a href=""><%= cart.items[i].name %></a></h4>

                        <p>Size: <%= cart.items[i].size %></p>
                    </td>
                    <td class="cart_price">
                        <p>&#8377 <%= cart.items[i].price %></p>
                    </td>
                    <td class="cart_quantity">
                        <div class="cart_quantity_button">
                            <a class="cart_quantity_up"  onclick="cartTouched()"> + </a>
                            <input class="cart_quantity_input" type="text" name="quantity"
                                   value="<%= cart.items[i].quantity %>" autocomplete="off" size="2">
                            <a class="cart_quantity_down"  onclick="cartTouched()"> - </a>
                        </div>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price">&#8377 <%= cart.items[i].quantity * cart.items[i].price %></p>
                    </td>
                    <td class="cart_delete">
                        <a class="cart_quantity_delete"  onclick="cartTouched()" ><i class="fa fa-times"></i></a>
                    </td>
                </tr>
                <% } %>
                <form id="cartForm" onsubmit="return cartFormCheck()" >
                <tr>
                    <td colspan="4">
                        <div class="shopper-informations">
                            <div class="row">
                                <div class="col-sm-11">
                                    <div class="order-message">
                                        <p>Notes/Instructions</p>
                                        <textarea name="notes"
                                                  placeholder="Notes about your order, Special Notes for Delivery"
                                                  rows="12"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td colspan="2">
                        <table class="table table-condensed total-result">
                            <tr>
                                <td>Cart Sub Total</td>
                                <td>&#8377 <%= cart.totalCost %></td>
                            </tr>
                            <tr>
                                <td>Discounts</td>
                                <td>&#8377 0</td>
                            </tr>
                            <tr class="shipping-cost">
                                <td>Shipping Cost</td>
                                <td>&#8377 20</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <% var total = cart.totalCost + 20; %>
                                <td><span>&#8377 <%= total %></span></td>
                            </tr>
                            <tr>
                                <td>Payment Mode</td>
                                <td style="padding-top: 10px">
                                        <input type="radio" name="paymentMode" value="Paytm" />   Paytm<br />
                                        <input type="radio" name="paymentMode" value="Cash" />   Cash<br />
                                </td>
                            </tr>
                            <tr>
                                <td>Delivery slot</td>
                                <td style="padding-top: 10px">
                                    <input type="radio" name="deliverySlot" value="Morning" />   Morning<br />
                                    <input type="radio" name="deliverySlot" value="Afternoon" />   Afternoon<br />
                                    <input type="radio" name="deliverySlot" value="Evening" />   Evening<br />
                                    <input type="radio" name="deliverySlot" value="AnyTime" />   Any Time<br />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="submit" formaction="/updateCart" formmethod="post" id="cUpdate" name="cUpdate" class="btn btn-primary cUpdate-btn" >Confirm Updates</button>
                                    <button type="submit" formaction="/checkout" formmethod="get" id="resetCart" name="resetCart" class="btn btn-primary cUpdate-btn" >Reset Cart</button>
                                    <button type="submit" formaction="/placeOrder" formmethod="post" id="pOrder" name="pOrder" class="btn btn-primary" >Place Order</button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </form>

                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->


<% include partials/footer %>


<script src="js/cartOperation.js"></script>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.scrollUp.min.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/main.js"></script>
</body>
</html>