<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Profile</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
<% include partials/header %>

<section id="form"><!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<div class="left-sidebar">
				
				    <h2>My Account</h2>
				    <div class="panel-group category-products" id="profileAccordian">
				
				        <div id="userInfo" class="panel panel-default">
				            <div class="panel-heading">
				                <h4 class="panel-title"><a href="/profile">My Profile</a></h4>
				            </div>
				        </div>
				        <div id="userOrders" class="panel panel-default">
				            <div class="panel-heading">
				                <h4 class="panel-title"><a href="/profile">My Orders</a></h4>
				            </div>
				        </div>
				        
				    </div>
				</div>
			</div>
		           
		   	<h2></h2>
		    <div class="col-sm-8 col-sm-offset-1 user-info-container">
		        <h2> Primary Information</h2>
		        <div class="user-table-content">
		            <table class="paddingBetweenCols">
		                <tbody>
		                	<tr>
		                		<td > Name </td>
		                		<td ><%= user.name %> </td>
		                	</tr>
		                	<tr>
		                		<td> Phone No. </td>
		                		<td ><%= user.phone %> </td>
		                	</tr>
		                	<tr>
		                		<td > Email Id </td>
		                		<td ><%= user.email %> </td>
		                	</tr>
		                	<tr>
		                		<td > Street Address </td>
		                		<td > <%= user.streetAddress %>  </td>
		                	</tr>
		                	<tr>
		                		<td > Area </td>
		                		<td > <%= user.area %> </td>
		                	</tr>
		                	<tr>
		                		<td > City </td>
		                		<td > <%= user.city %> </td>
		                	</tr>
		                	<tr>
		                		<td > zipcode </td>
		                		<td > <%= user.zip %> </td>
		                	</tr>
		                </tbody>
		        	</table>
		        </div>
		    </div>
			            
		</div>
	</div>
</section>


<% include partials/footer %>



<script src="js/jquery.js"></script>
<script src="js/price-range.js"></script>
<script src="js/jquery.scrollUp.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/main.js"></script>
</body>
</html>